/* .image{
    width: 500px;
    height: 200px; 
    background-color: rgb(247,247,247);
    margin: auto;
} 
.image{
    width: 500px;
    height: 200px;
    margin:auto;
    display: block;
} */

body{
  
    background-image: url(../images/111.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}
.name h1{
    color: white;
    font-size: 80px;
    font-family: 'Times New Roman', Times, serif;
    font-family: '华文新魏';
    text-shadow: -1px -1px 6px aqua, 1px 1px 6px  aqua, -1px 1px 6px  aqua, 1px -1px 6px  aqua;
    padding-top: 10px;
    margin: 0 0;
    text-align: center;
}   
nav ul{
    display: flex;
    
    width: 1200px;
    height: 100px;
    
    justify-content: center;
    margin: auto; 
    font-size: 30px;
    
}
nav ul li{
    list-style: none;
}
.container nav ul li a{
    position: relative;
    display: inline-block;
    font-size: 30px;
    line-height: 100px;
    width: 200px;
    height: 100px;
    text-decoration: none ;
    color: white;
    margin: auto;
    text-align: center;
}
ul li:hover{
    background-color: pink;
    color: white;
}
.container  li a:hover{
    color:aqua;
}
.footer{
    width: 100%;
    text-align: center;
    color:black ;
    font-size: 12px;    
}
.footer ul li {
    list-style: none;
}
.footer ul{
    display:flex;
    height: 50px;
    justify-content: center;
    margin: auto;
}
.footer ul li a{
    position: relative;
    display: block;
    line-height: 50px;
    text-decoration: none;
    color: black;
    margin: auto;
}
*{
    margin: 0;
    padding: 0;
}
/* 宽度313 */