*{
    margin: 0;
    padding: 0;
}
.name h1{
    color: white;
    font-size: 80px;
    font-family: 'Times New Roman', Times, serif;
    font-family: '华文新魏';
    text-shadow: -1px -1px 6px aqua, 1px 1px 6px  aqua, -1px 1px 6px  aqua, 1px -1px 6px  aqua;
    padding-top: 10px;
    margin: 0 0;
    
}   
nav ul{
    display: flex;
    width: 1200px;
    height: 100px;
    justify-content: center;
    margin: auto; 
    font-size: 30px;
    
}
nav ul li{
    list-style: none;
    text-align: center;
    
}
.container nav ul li a{
    position: relative;
    display: block;
    font-size: 30px;
    line-height: 100px;
    width: 150px;
    height: 100px;
    text-decoration: none ;
    color: white;
    margin: auto;
    text-align: center;
}
ul li:hover{
    background-color: pink;
    color: white;
}
.container  li a:hover{
    color:aqua;
}
a{
    text-decoration: none;
    color: inherit;
}

body{
    background-color: #F9F4F0;   
}

main{
    width: 1200px;
    margin:30px auto ;
}

header{
    height: 60px;
    padding-left: 100px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    font-size: 17px;
    line-height: 60px;
}

header img{
    float: left;
}

header ul{
    margin-right: 400px;
}

header nav li{
    width:100px;
    text-align: center;
    list-style: none;   
    float: left;
}

footer{
    width: 100%;
    background: linear-gradient(to right,rgb(210, 180, 140),rgb(253, 245, 230),rgb(210, 180, 140));    
    text-align: center;
    color:rgb(128,128,0);
    font-size: 12px;
    padding: 10px 0;
}

footer a{
    color:SaddleBrown;
}

footer nav{   
   margin-bottom: 20px;
}

footer li{
     list-style: none;     
     display:inline-block;
 }

